.main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-color: #ffffff;
    background-image: url("../assets/header.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top right;
    background-size: cover;
    color: wheat;
}

.formClass {
    margin-top: 10%;
}

.buttonDisp {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.formSchema {
    padding: 2%;
}